// Colors
$brand-default: #fff;
$brand-primary: #2196f3;
$brand-success: #4caf50;
$brand-info: #03a9f4;

$panel-color: #e0e0e0;
$panel-background: #424242;
$panel-border-color: #616161;
$panel-border: 1px solid $panel-border-color;
$panel-padding: 4px 8px;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;

// Button Styles
$btn-font-weight: bold;

// bring in the rest from bootstrap's defaults
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
