.cropOverlayContainer {
  overflow: hidden;
}

.cropOverlay::after {
  animation: cropBorder 1.5s infinite linear;
  border: 2px dashed rgba(#EEEEEE, 0.5);
  bottom: 0;
  box-shadow: 0px 0px 0px 999999px rgba(#EEEEEE, 0.25);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes cropBorder {
  0% {
    border-color: rgba(#EEEEEE, 0.5);
  }
  50% {
    border-color: #EEEEEE;
  }
  100% {
    border-color: rgba(#EEEEEE, 0.5);
  }
}
