@import '../partials/variables';

.dragHandleContainer {
  position: absolute;
  z-index: $tool-overlay-z-index + 2;
}

.dragHandle {
  $size: 20px;

  background-color: $drag-handle-background;
  border: 1px solid $drag-handle-border-color;
  border-radius: 50%;
  cursor: -webkit-grab;
  height: $size;
  left: -$size / 2;
  opacity: 0.8;
  position: relative;
  top: -$size / 2;
  width: $size;

  &:hover {
    opacity: 0.9;
  }

  &:active,
  &Dragging {
    cursor: -webkit-grabbing;
    opacity: 0.5;
  }
}
