@import '../partials/variables';

.editor {
  align-items: stretch;
  border: $panel-border;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
