@import '../partials/variables';

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

.menuBar {
  -webkit-app-region: drag;
  transition: max-height 2s ease-out;
  user-select: none;

  &.menuBarFullScreen {
    max-height: 0;

    &:hover {
      // This can be any large value
      max-height: 500px;
    }
  }

  .menuBarRight {
    float: right;
  }

  .menuBarLarge {
    font-size: 120%;
  }

  > * {
    -webkit-app-region: no-drag;
  }
}

.menu {
  display: inline-block;
  margin-right: 5px;
  position: relative;

  .menuItems {
    animation: fade 300ms;
    border: $panel-border;
    box-shadow: 0 1px 5px $panel-border-color;
    min-width: 150px;
    opacity: 1;
    padding-left: 0;
    position: absolute;
    top: calc(100% + 2px);
    z-index: 5;
  }

  .menuItem {
    background-color: $panel-background;
    color: $panel-color;
    cursor: pointer;
    display: flex;
    font-size: $font-size-small;
    justify-content: space-between;
    line-height: $line-height-small;
    list-style-type: none;
    padding: $panel-padding;
    white-space: nowrap;
    width: 100%;

    &:hover {
      background-color: darken($panel-background, 10%);
      border-color: darken($panel-border-color, 12%);
    }

    &:not(:first-child) {
      border-top: $panel-border;
    }

    .menuItemRight {
      display: inline-block;
      padding-left: 30px;
      text-align: right;
    }
  }

  .menuSeparator {
    background-color: $panel-border-color;
    height: 2px;
  }
}
