@import '../partials/variables';

.menuBar {
  -webkit-app-region: drag;

  .menuBarRight {
    float: right;
  }

  .menuBarLarge {
    font-size: 120%;
  }

  > * {
    -webkit-app-region: no-drag;
  }
}
